################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

 
*.dll
*.lib
*.pdb
*.cache
*.zip
*.zgy
*.bin
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
*.exe
*.dll
*.lib
*vtk*
*VTK*
*Backup*
*Salmon*
 